<h1>Acceptable Use Policy</h1>

<p>Use of the Services is subject to the Acceptable Use Policy. If you are found to be in violation of our policies at
    any time, as determined by Couchbase Inc. (“we” or “us”) in its sole discretion, we may warn you or suspend or
    terminate your account.</p>

<p>Please note that we may change our Acceptable Use Policy at any time, and pursuant to the Couchbase Cloud Terms of
    Service [LINK] (the "Terms"), it is your responsibility to keep up-to-date with and adhere to the policies posted
    here. All capitalized terms used herein have the meanings stated in the Terms, unless stated otherwise.</p>

<h3>Prohibited Content</h3>

<h4>The Content displayed and/or processed through your Application utilizing the Services shall not contain any of the
    following types of content:</h4>
<ul>
    <li>Content that infringes or encourages the infringement of a third party's rights (e.g., copyright) according to
        applicable law
    <li>Excessively profane content
    <li>Hate-related or violent content
    <li>Content advocating racial or ethnic intolerance
    <li>Content intended to advocate or advance computer hacking or cracking;
    <li>Gambling
    <li>Other illegal activity, including without limitation illegal export of controlled substances or illegal software
    <li>Drug paraphernalia
    <li>Phishing
    <li>Malicious content
    <li>Other material, products or services that violate or encourage conduct that would violate any criminal laws, any
        other applicable laws, or any third-party rights
</ul>

<h3>Prohibited Actions</h3>

<h4>In addition to (and/or as some examples of) the violations described in the Terms, you may not and may not allow
    any third party, including End Users, to:</h4>

<ul>
    <li>Generate or facilitate unsolicited commercial email ("spam"). Such activity includes, but is not limited to:
        <ul>
            <li>Sending email in violation of the CAN-SPAM Act or any other applicable anti-spam law;

            <li>Imitating or impersonating another person or his, her or its email address, or creating false accounts
                for
                the purpose of sending spam;
            <li>Data mining any web property (including Couchbase web properties) to find email addresses or other user
                account information;
            <li>Sending unauthorized mail via open, third-party servers;
            <li>Sending emails to users who have requested to be removed from a mailing list;
            <li>Selling, exchanging or distributing to a third party the email addresses of any person without such
                person's
                knowing and continued consent to such disclosure; and
            <li>Sending unsolicited emails to significant numbers of email addresses belonging to individuals and/or
                entities with whom you have no preexisting relationship.
            <li>Send, upload, distribute or disseminate or offer to do the same with respect to any unlawful,
                defamatory,
                harassing, abusive, fraudulent, infringing, obscene, or otherwise objectionable content
        </ul>
    <li>Intentionally distribute viruses, worms, defects, Trojan horses, corrupted files, hoaxes, or any other items
        of a destructive or deceptive nature;
    <li>Conduct or forward pyramid schemes and the like;
    <li>Transmit content that may be harmful to minors;
    <li>Impersonate another person (via the use of an email address or otherwise) or otherwise misrepresent yourself
        or the source of any email;
    <li>Illegally transmit another's intellectual property or other proprietary information without such owner's or
        licensor's permission;
    <li>Use the Service to violate the legal rights (such as rights of privacy and publicity) of others;
    <li>Promote or encourage illegal activity;
    <li>Interfere with other users' enjoyment of the Service;
    <li>Sell, trade, resell or otherwise exploit the Service for any unauthorized commercial purpose;
    <li>Modify, adapt, translate, or reverse engineer any portion of the Service;
    <li>Remove any copyright, trademark or other proprietary rights notices contained in or on the Service;
    <li>Reformat or frame any portion of the web pages that are part of the Service's Administration Console;
    <li>Use the Service in connection with illegal peer-to-peer file sharing;
    <li>Display any content on the Service (including but not limited to the customizable login page) that contains
        any pornographic, hate-related or violent content or contain any other material, products or services that
        violate or encourage conduct that would violate any criminal laws, any other applicable laws, or any third
        party rights; or
    <li>Modify the Couchbase logo or any other Couchbase trademarks, logos, service marks, trade dress, slogans,
        copyrighted designs or other brand features.
    <li>Use of the Services, or any interfaces provided with the Services, to access any Couchbase products or
        services in a manner that violates the Terms or other terms and conditions for use of such Couchbase
        products or services.
</ul>