<div ng-show="auth.loggedin">
    <h1>Dashboard</h1>
    <br/>


    <div>
        <h4>Your Sync Gateways
            <button class="btn btn-xs btn-success" ng-disabled="wantNewSGW" ng-click="wantNewSGW = true"><span
                    class="icon-plus"></span> New Sync Gateway
            </button>
        </h4>
        <hr>
        <form ng-show="wantNewSGW" name="form_createNewSGW" novalidate class="form-horizontal well" role="form">
            <h3>Create a New Sync Gateway</h3>

            <div ng-class="{'form-group': true, 'has-error': newSGW_error, 'has-success': !newSGW_error}">
                <label class="col-lg-2 control-label" for="newSGW_name">Name</label>

                <div class="col-lg-10">
                    <input class="form-control" ng-model="newSGW_name" id="newSGW_name" type="text" min="3" max="15"
                           ng-change="newSGW_name_changed()" style="width: 200px;"/><span ng-if="newSGW_error"
                                                                                          class="form-error">&nbsp;&nbsp;Must be at least 5 characters!</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="newSGW_guest">Allow Guest?</label>

                <div class="col-lg-10">
                    <div class="checkbox"><label>
                        <input type="checkbox" id="newSGW_guest" ng_model="newSGW_guest"/>
                    </label></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="newSGW_sync">Sync Function</label>

                <div class="col-lg-10">
                    <cb-editor live="1" editing="wantNewSGW" id="newSGW_sync" name="newSGW_sync" source="newSGW_sync"
                               editfn="sync_edit_toggle"></cb-editor>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-2">&nbsp;</div>
                <div class="col-lg-10 col-lg-offset-2">
                    <button class="btn btn-danger btn-sm" ng-click="wantNewSGW = false">Cancel</button>
                    &nbsp;
                    <button class="btn btn-success btn-sm" ng-click="createNewSGW()">Create</button>
                </div>
            </div>
        </form>


        <p ng-hide="syncgws"><em>No sync gateways created yet...</em></p>
        <table id="sgw-list" class="table table-hover" ng-show="syncgws">
            <thead>
            <th style="width: 250px;">Name</th>
            <th>Urls</th>
            <th ng-show="switch.visible">Status</th>
            <th ng-show="switch.visible">Storage</th>
            <th ng-show="switch.visible">Usage</th>
            <th>&nbsp;</th>
            </thead>


            <tbody ng-repeat="d in syncgws" ng-switch="row.configure" ng-init="row={configure:false}">

            <!-- Displayed when not configuring -->
            <tr ng-switch-default>
                <td><span class="sgw-name">{{d.name}}</span></td>
                <td>
                    <button id="sgwm-{{$index}}" data-toggle="modal" href="#myModal" ng-click="setModalContent($index)">
                        View <span
                            class="icon icon-eye-open"></span></button>
                </td>
                <td ng-show="switch.visible">{{!d.state ? "active" : d.state}}</td>
                <td ng-show="switch.visible">{{d.stats ? d.stats.stats.fileSize/1048576.00 + " of 500 MB" : "(not reported yet)"}}</td>
                <td ng-show="switch.visible">{{d.stats ? d.stats.stats.writes + d.stats.stats.reads : "(not reported yet)" }}</td>
                <td style="text-align: right;">
                    <button class="btn btn-info" ng-click="row.configure=true;editor.focus">configure</button>
                    <button class="btn btn-danger" ng-click="delete($index)" confirm-delete="Really Delete '{{d.name}}' ?">delete</button>
                </td>
            </tr>

            <!-- Displayed when configuring -->
            <tr ng-switch-when="true">
                <td><a href="/sgw/{{d.name}}/"><span class="sgw-name">{{d.name}}</span></a></td>
                <td colspan="4">
                    <table>
                        <tr>
                            <td><strong>Sync Function</strong></td>
                            <td><textarea class="syncfunction" ng-model="d.extra.sync_copy"
                                          ui-codemirror="editorOptions"></textarea></td>

                        </tr>
                    </table>
                </td>
                <td style="text-align: right;">
                    <button class="btn btn-danger btn-sm" ng-click="row.configure=false;cancelSaveSyncFunction($index)">
                        cancel
                    </button>
                    &nbsp;
                    <button class="btn btn-success btn-sm" ng-click="row.configure=false;saveSyncFunction($index)">
                        save
                    </button>
                </td>
            </tr>
            </tbody>
        </table>


    </div>
</div>

<div ng-show="auth.checked">
    <div ng-show="!auth.loggedin">
        <h1>Dashboard</h1>
        <br/>

        <p>
            Please <a data-toggle="modal" href="#signupModal">Sign In</a> to make use of this
            service. It's quick and easy (and you don't even need to
            register!)
        </p>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{modal_sgw_name}} [Sync Gateway]</h4>
            </div>
            <div class="modal-body">
                <div id="notify-copied" class="alert alert-success fade" style="display: none;text-align: center">url copied to clipboard!</div>
                <h4>API Access URL</h4>
                <input type="text" class="sgw-urls" value="{{modal_api_url}}"/>
                <button id="copy-api-url" class="btn btn-sm btn-info" data-clipboard-text="{{modal_api_url}}"><span
                        class="icon icon-copy"></span></button>
                <h4>ADMIN Access URL</h4>
                <input type="text" class="sgw-urls" value="{{modal_admin_url}}"/>
                <button id="copy-admin-url" class="btn btn-sm btn-info" data-clipboard-text="{{modal_admin_url}}"><span
                        class="icon icon-copy"></span></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->
