<h1>Dashboard</h1>
<br />


<div ng-show="auth.loggedin">
    <h4>Your Sync Gateways</h4><hr>
    <p ng-hide="syncgws"><em>No sync gateways defined yet</em></p>
    <table class="table table-hover" ng-show="syncgws">
        <thead>
            <th>Name</th>
            <th>Urls</th>
            <th>Storage</th>
            <th>Average Usage</th>
            <th>&nbsp;</th>
        </thead>
        <tbody>
        <tr ng-repeat="d in syncgws" >
            <td><a href="/sgw/{{d.name}}/"><span class="glyphicon glyphicon-cloud" style="font-size: 130%;margin-bottom: -3px;margin-right: 5px;"></span>&nbsp;{{d.name}}</a></td>
            <td><a href="{{d.url}}" target="_blank">Sync&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{d.url}}" target="_blank">Admin&nbsp;<span class="glyphicon glyphicon-new-window"></span></a></td>
            <td>{{d.size}} of 500MB</td>
            <td>xxx ops/day {{console.log(d)}}</td>
            <td style="text-align: right;"><button>configure</button>&nbsp;<button>delete</button></td>
        </tr>
        </tbody>
    </table>

    <button ng-hide="wantnewsgw" ng-click="wantnewsgw = true">New Sync Gateway</button>

    <div ng-show="wantnewsgw">
    <form ng-submit="newsgw()">
        Create a new sync gateway<br>
        Name: <input ng-bind="newsgwname" id="newsgwname" type="text" /><br/>
        <label>Allow Guest? <input type="checkbox" id="newsgwguest" /></label><br/>
        Sync Function:<br/>
        <textarea id="newswsync" rows="5" cols="80">
            function(doc) {
            channel(doc.channels);
            }</textarea><br/>
        <input type="submit"/>
    </form>
    <hr>
    <div>
        <dl class="dl-horizontal">
            <dt>...</dt>
            <dd>...</dd>
        </dl>
    </div>
    </div>

</div>

<div ng-show="auth.checked">
    <p ng-hide="auth.loggedin">
        Please <a ng-click="login()">log in</a> to make use of this
        service.  It's quick and easy (and you don't even need to
        register!)
    </p>
</div>