<h1>Dashboard</h1>

<div ng-hide="auth.loggedin">
  <p>
    Please <a ng-click="login()">log in</a> to make use of this
    service.  It's quick and easy (and you don't even need to
    register!)
  </p>
</div>

<div ng-show="auth.loggedin">
  <p>You are {{auth.username}}.  Maybe we have things for you.</p>

  <h2>Your Databases</h2>
  <p ng-hide="databases"><em>No databases defined yet</em></p>
  <ul ng-show="databases">
    <li ng-repeat="d in databases"><a href="/db/{{d.name}}/">{{d.name}}</a></li>
  </ul>

  <button ng-hide="wantnewdb" ng-click="wantnewdb = true">New Database</button>
  <form ng-show="wantnewdb" ng-submit="newdb()">
    Create a new database<br>
    Name: <input ng-bind="newbucket" id="newbucketname" type="text" /><br/>
    Pass: <input ng-bind="newbucketpass" id="newbucketpass" type="password" /><br/>
    <input type="submit"/>
  </form>

  <h2>Your Sync Gateways</h2>
  <p ng-hide="syncgws"><em>No sync gateways defined yet</em></p>
  <ul ng-show="syncgws">
    <li ng-repeat="d in syncgws"><a href="/sgw/{{d.name}}/">{{d.name}}</a></li>
  </ul>

  <button ng-hide="wantnewsgw" ng-click="wantnewsgw = true">New Sync Gateway</button>
  <form ng-show="wantnewsgw" ng-submit="newsgw()">
    Create a new sync gateway<br>
    Name: <input ng-bind="newsgwname" id="newsgwname" type="text" /><br/>
    <label>Allow Guest? <input type="checkbox" id="newsgwguest" /></label><br/>
    DB: <select id="newsgwdb"><option ng-repeat="d in availableDBs()">{{d.name}}</option></select><br/>
    Sync Function:<br/>
    <textarea id="newswsync" rows="5" cols="80">
function(doc) {
  channel(doc.channels);
}</textarea><br/>
    <input type="submit"/>
  </form>

</div>
