<div ng-if="auth.loggedin" class="alert alert-dismissable alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Welcome!</strong> Go to your <a href="/dashboard/"><strong>Dashboard</strong></a> to create and configure Sync Gateways...
</div>
<div id="splash" class="jumbotron">
    <div class="container">
        <h1>Sync up Your Mobile Data</h1>

        <p>Couchbase Cloud is a free service for Couchbase Lite users and other developers to get started with Couchbase Sync Gateway and Couchbase Server.</p>
    </div>
</div>

<h1>JSON Anywhere</h1>

<p class="lead">JSON Anywhere means: JSON on the device, JSON on the wire, and JSON in the cloud. Data stored in Couchbase Lite on a mobile device is seamlessly synchronized with the Couchbase Server in the cloud, enabling the simple development of a new class of occasionally connected, data intensive mobile applications.</p>

<div class="row">
    <div class="info-pane col-xs-6 col-sm-4 col-md-4">
        <span class="lead" style="font-weight: bold;">Couchbase Server</span> is a high performance NoSQL Document Database.
        The flexible data model, easy scalability and sub-millisecond performance make it an easy
        choice for demanding webscale applications as well as rapid development required by
        startups.
    </div>

    <!-- Optional: clear the XS cols if their content doesn't match in height -->
    <div class="clearfix visible-xs"></div>

    <div class="info-pane col-xs-6 col-sm-4 col-md-4">
        <span class="lead" style="font-weight: bold;">Couchbase Sync Gateway</span> enables easy, reliable data sync to the cloud. Built on a shared nothing architecture, the Couchbase Sync Gateway provides the extremely high scalability required by mobile applications and solves complex distributed data synchronization, including conflict resolution.
    </div>



    <div class="info-pane col-xs-6 col-sm-4 col-md-4">
        <span class="lead" style="font-weight: bold;">Couchbase Lite</span>  is a secure, ultra-lightweight, native JSON-based NoSQL database built for the online/offline mobile world.  It is the first native NoSQL database for mobile devices, providing native cross-platform support for iOS, Android and REST/HTML5.
    </div>
    <!-- Optional: clear the XS cols if their content doesn't match in height -->
    <div class="clearfix visible-xs"></div>
</div>

<br/>

<h2>Learn More and Useful Links</h2>

<div class="row">
    <div class="info-pane col-xs-6 col-sm-4 col-md-4">
        <h4>Couchbase Server</h4>
        <a href="http://www.couchbase.com/couchbase-server/overview">Learn More about Couchbase Server</a><br />
        <a href="http://www.couchbase.com/documentation">Couchbase Server Documentation</a>
    </div>

    <!-- Optional: clear the XS cols if their content doesn't match in height -->
    <div class="clearfix visible-xs"></div>

    <div class="info-pane col-xs-6 col-sm-4 col-md-4">
        <h4>Couchbase Sync Gateway</h4>
        <a href="http://www.couchbase.com/communities/couchbase-sync-gateway">Learn More about Sync Gateway</a><br />
        <a href="http://docs.couchbase.com/sync-gateway/">Sync Gateway Documentation</a><br />
        <br />
        <a href="https://github.com/couchbase/sync_gateway"><span class="icon-github-alt"></span> Couchbase Sync Gateway</a><br />
    </div>



    <div class="info-pane col-xs-6 col-sm-4 col-md-4">
        <h4>Couchbase Lite</h4>
        <a href="http://www.couchbase.com/communities/couchbase-lite">Learn More about Couchbase Lite</a><br />
        <a href="http://docs.couchbase.com/couchbase-lite/">Couchbase Lite Documentation</a><br />
        <br />
        <a href="https://github.com/couchbase/couchbase-lite-ios/"><span class="icon-github-alt"></span> Couchbase Lite iOS</a><br />
        <a href="https://github.com/couchbase/couchbase-lite-android/"><span class="icon-github-alt"></span> Couchbase Lite Android</a><br />


    </div>
    <!-- Optional: clear the XS cols if their content doesn't match in height -->
    <div class="clearfix visible-xs"></div>
</div>

<h3><span class="icon-group"></span> Google Groups</h3>
<p>
    <a href="https://groups.google.com/forum/#!forum/couchbase-cloud"> Couchbase Cloud</a><br />
    <a href="https://groups.google.com/forum/#!forum/mobile-couchbase">Couchbase Mobile</a><br />
    <a href="https://groups.google.com/forum/#!forum/couchbase">Couchbase Server</a><br />
</p>

<h3><span class="icon-comments-alt"></span> Find us on IRC (Freenode)</h3>

<p>
    <span class="text-success">#couchbase</span> - Couchbase Server<br />
    <span class="text-success">#libcouchbase</span> - Couchbase Server SDK's<br />
    <span class="text-success">#couchbasemobile</span> - Couchbase Mobile (Sync Gateway/Couchbase Lite)<br />
</p>
<br /><br /><br />