<div ng-if="auth.loggedin" class="alert alert-dismissable alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Welcome!</strong> Go to your <a href="/dashboard/"><strong>Dashboard</strong></a> to create and configure Sync Gateways...
</div>
<div id="splash" class="jumbotron">
    <div class="container">
        <h1>Sync up Your Mobile Data</h1>

        <p>Couchbase Cloud Sandbox is a free service for developers to get started with Couchbase Lite, Sync Gateway and
            Couchbase Server.</p>
    </div>
</div>

<h1>Speed up your Mobile Development by 10x</h1>

<div class="row">
    <div class="info-pane col-xs-6 col-sm-4 col-md-4">
        <strong>Sync Gateway</strong> is a companion to your Couchbase Server cluster
        to provide sync services with your mobile Couchbase Lite databases. When mobile
        devices are online, bi-directional syncing brings data channels down from the
        central data servers, when they are offline, apps can still interact with existing data
        and create more for future sync.
    </div>

    <!-- Optional: clear the XS cols if their content doesn't match in height -->
    <div class="clearfix visible-xs"></div>

    <div class="info-pane col-xs-6 col-sm-4 col-md-4">
        <strong>Couchbase Lite</strong> is the only NoSQL document database designed specifically
        for mobile apps. The JSON ANYWHERE approach allows for easy transmission of data from
        devices to cloud and Couchbase Server. Using Json enables a flexible dynamic schema
        and rapid development.
    </div>
    <!-- Optional: clear the XS cols if their content doesn't match in height -->
    <div class="clearfix visible-xs"></div>

    <div class="info-pane col-xs-6 col-sm-4 col-md-4">
        <strong>Couchbase Server</strong> is a high performance NoSQL Document Database.
        The flexible data model, easy scalability and sub-millisecond performance make it an easy
        choice for demanding webscale applications as well as rapid development required by
        startups. <a href="http://www.couchbase.com/couchbase-server/overview" target="_blank">Learn More about Couchbase</a>.
    </div>
</div>

<h1>Your Data both Online and Offline</h1>

<div class="row">
    <div class="info-pane col-xs-6 col-sm-4 col-md-4">
        <strong>Lorem ipsum</strong> dolor sit amet, consectetur adipiscing elit. Nunc mattis urna justo, nec pretium tortor euismod non. Cras eu sem cursus, vulputate turpis nec, condimentum neque. Ut nibh risus, feugiat eu fermentum quis, ultricies vel enim. Donec malesuada leo non quam gravida, eu egestas libero imperdiet.
    </div>

    <!-- Optional: clear the XS cols if their content doesn't match in height -->
    <div class="clearfix visible-xs"></div>

    <div class="info-pane col-xs-6 col-sm-4 col-md-4">
        <strong>Lorem ipsum</strong> dolor sit amet, consectetur adipiscing elit. Nunc mattis urna justo, nec pretium tortor euismod non. Cras eu sem cursus, vulputate turpis nec, condimentum neque. Ut nibh risus, feugiat eu fermentum quis, ultricies vel enim. Donec malesuada leo non quam gravida, eu egestas libero imperdiet.
    </div>

    <!-- Optional: clear the XS cols if their content doesn't match in height -->
    <div class="clearfix visible-xs"></div>

    <div class="info-pane col-xs-6 col-sm-4 col-md-4">
        <strong>Lorem ipsum</strong> dolor sit amet, consectetur adipiscing elit. Nunc mattis urna justo, nec pretium tortor euismod non. Cras eu sem cursus, vulputate turpis nec, condimentum neque. Ut nibh risus, feugiat eu fermentum quis, ultricies vel enim. Donec malesuada leo non quam gravida, eu egestas libero imperdiet.
    </div>
</div>

<h1>asdfsad</h1>

<div class="row">
    <div class="info-pane col-xs-6 col-sm-4 col-md-4">.col-xs-6 .col-sm-4 .col-md-4</div>
    <div class="info-pane col-xs-6 col-sm-4 col-md-4">.col-xs-6 .col-sm-4 .col-md-4</div>
    <!-- Optional: clear the XS cols if their content doesn't match in height -->
    <div class="clearfix visible-xs"></div>
    <div class="info-pane col-xs-6 col-sm-4 col-md-4">.col-xs-6 .col-sm-4 .col-md-4</div>
</div>

<br /><br /><br /><br /><br />