<div style="text-align: center;font-weight: bold;">
    <h1>Couchbase, Inc.<br/>
        COUCHBASE CLOUD TERMS OF SERVICE</h1>
</div>

<h4>BY ORDERING OR USING THE SERVICES, YOU AGREE TO THESE COUCHBASE CLOUD TERMS OF SERVICE (“TERMS”). YOU ACKNOWLEDGE
    THAT YOU HAVE READ AND AGREE TO ALL OF THE TERMS AND CONDITIONS OF THESE TERMS WITH COUCHBASE, INC. ("COUCHBASE").
    THE DATE THAT YOU FIRST ORDER OR USE THE SERVICES IS THE "EFFECTIVE DATE."</h4>

<ol>
    <li><span class="tos_term">Definitions.</span>
    <ol>
        <li>“Documentation” means all documentation (if any) associated with the Services.
        <li>“Services” means Couchbase’s hosted database as a service product known as Couchbase Cloud.
    </ol>
    <li><span class="tos_term">Using the Services.</span> The Services are pre-beta release and experimental. The Services are meant for development
        only. The Services are not intended for use in a production or commercial operating environment or with
        production data. Before using the Services, You should back up all of Your data and regularly back up Your data
        while using the Services. Couchbase may change the Services and/or features therein and/or discontinue the
        provision of the Services at any time with or without prior notice to You. Couchbase may elect in its sole
        discretion, but is not required, to provide support for the Services.
    <li><span class="tos_term">License.</span> Couchbase gives You a non-exclusive, non-transferable, limited license (with no sublicense rights) to
        (i) access and use the Services for internal use; and (ii) use the Documentation in connection with such use of
        the Services.
    <li><span class="tos_term">Restrictions.</span> You will not: (i) distribute the Services to any third party; (ii) reproduce, modify, translate or
        create derivative works of all or any portion of the Services; or (iii) remove or destroy any proprietary
        notices contained on or in the Services or Documentation or any copies thereof. You must follow the <a href="/acceptable_use/">Acceptable Use</a> when using the Services. There may be storage and other limitations on Your use of
        the Services that are available (see <em>Limitation of Liability</em> below).
    <li><span class="tos_term">Disclaimer of Warranty.</span> COUCHBASE PROVIDES THE SERVICES ON AN “AS IS” BASIS. COUCHBASE DOES NOT MAKE ANY
        WARRANTIES REGARDING THE PERFORMANCE OF THE SERVICES, WHETHER EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, AND
        COUCHBASE EXPRESSLY DISCLAIMS ALL WARRANTIES, INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF
        NON-INFRINGEMENT OF THIRD PARTY RIGHTS, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. COUCHBASE HAS NO
        RESPONSIBILITY FOR LOSS OF DATA OR INABILITY TO USE THE SERVICES FOR ANY REASONS, INCLUDING, WITHOUT LIMITATION,
        IF DUE TO THE ACTS OR OMISSIONS OF ITS THIRD PARTY HOSTING PROVIDERS.
    <li><span class="tos_term">Intellectual Property Rights.</span> Couchbase owns all rights, title and interest in and to the Services and
        Documentation. There are no implied rights. Couchbase reserves all rights not expressly granted herein. If You
        provide us with feedback on Your use of the Services or if we receive any information reported automatically
        through the Services You give Couchbase all rights in the feedback and Couchbase may use Your feedback without
        obligation to You. You own Your data that You upload to the Services and You can read about how Couchbase uses
        and stores Your data in [MAKE LINK-Couchbase’s privacy policy].
    <li><span class="tos_term">Limitation of Liability; Allocation of Risk.</span>
        <ol>
            <li><span class="tos_term">Limitation of Liability.</span> COUCHBASE IS NOT LIABLE FOR SPECIAL, INCIDENTAL, CONSEQUENTIAL OR INDIRECT
                DAMAGES, INCLUDING WITHOUT LIMITATION, LOST PROFITS, LOST SAVINGS, OR DAMAGES ARISING FROM LOSS OF USE,
                LOSS OF CONTENT OR DATA OR ANY ACTUAL OR ANTICIPATED DAMAGES, REGARDLESS OF THE LEGAL THEORY ON WHICH
                SUCH DAMAGES MAY BE BASED, AND EVEN IF COUCHBASE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN
                ALL CASES, COUCHBASE’S DIRECT DAMAGES SHALL NOT EXCEED ONE HUNDRED DOLLARS (US $100.00).
            <li><span class="tos_term">Allocation of Risk.</span> Section 7.1 on limitation of liability and Section 5 above on warranty disclaimer
                fairly allocate the risks in these Terms. This allocation is an essential element of the basis of the
                bargain between the parties and that the limitations specified in this Section 7 shall apply
                notwithstanding any failure of the essential purpose of these Terms or any limited remedy hereunder.
        </ol>
    <li><span class="tos_term">Confidentiality.</span> The Services are the Confidential Information of Couchbase and You agree that You will not
        disclose any information about the Services to any third party without Couchbase’s express written consent.
    <li><span class="tos_term">Term and Termination.</span> These Terms start on the Effective Date and continue until terminated. You may terminate
        these Terms at any time by stopping use of the Services. These terms will terminate immediately if You violate
        any term of these Terms. Couchbase may suspend or cease providing the Services altogether and may add or remove
        functionalities from the Services at any time. Except for Section 3 (“License Grant”), all Sections of these
        Terms shall survive termination for a period of three (3) years from the date hereof. On termination of these
        Terms, Couchbase may destroy all of Your data that You submit through the Services and You will no longer be
        able to access or extract Your data from the Services.
    <li><span class="tos_term">Government End Users.</span> The Services are commercial computer software programs developed solely at private
        expense. As defined in U.S. Federal Acquisition Regulations (FAR) section 2.101 and U.S. Defense Federal
        Acquisition Regulations (DFAR) sections 252.227-7014(a)(1) and 252.227-7014(a)(5) (or otherwise as applicable to
        You), the Services licensed in these Terms is deemed to be “commercial items” and “commercial computer software”
        and “commercial computer software documentation.” Consistent with FAR section 12.212 and DFAR section 227.7202,
        (or such other similar provisions as may be applicable to You), any use, modification, reproduction, release,
        performance, display, or disclosure of such commercial Services or commercial Services documentation by the U.S.
        government (or any agency or contractor thereof) shall be governed solely by the terms of these Terms and shall
        be prohibited except to the extent expressly permitted by the terms of these Terms.
    <li><span class="tos_term">General Provisions.</span> Couchbase may modify these Terms and Couchbase will post a change notice on the Services
        page. If You do not agree with the modified Terms, You should stop using the Services. Couchbase also may send
        notices to You through Your account on the Services or through email. These Terms are governed by the laws of
        the State of California, U.S.A. without regard to conflict of laws principles. The parties agree that the United
        Nations Convention on Contracts for the International Sale of Goods is specifically excluded from application to
        these Terms. If any term is not enforceable, the remaining terms are not affected. If Couchbase does not enforce
        any right of these Terms, Couchbase does not waive its rights. You will comply with all export laws. These Terms
        may not be assigned, sublicensed or otherwise transferred by You. These Terms constitutes the parties’ entire
        understanding regarding the Services, and supersedes any and all other prior or contemporaneous agreements,
        whether written or oral.
</ol>
