<!DOCTYPE html>
<html lang="en" ng-app="consolio">
<head>
    <title>Couchbase Cloud - Sandbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/lib/angular/angular.js"></script>
    <script src="/static/lib/angular-route/angular-route.js"></script>
    <script src="/static/js/angular_codemirror.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="/static/lib/codemirror/lib/codemirror.js"></script>
    <script src="/static/lib/angular-ui-codemirror/ui-codemirror.js"></script>
    <script src="/static/lib/codemirror/addon/edit/closebrackets.js"></script>
    <script src="/static/js/codemirror_javascript_sync_gateway.js"></script>
    <script src="/static/js/codemirror_formatting.js"></script>



    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet"href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link rel="stylesheet" href="/static/lib/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/static/lib/codemirror/theme/night.css">
    <link rel="stylesheet" href="/static/style/screen.css" media="screen"/>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-7763794-8', 'couchbasecloud.com');
        ga('send', 'pageview');

    </script>
</head>

<body>

<header class="navbar navbar-fixed-top  navbar-inverse">
    <div id="switch" ng-controller="SwitchCtrl" ng-click="switch_toggle()" ng-class="{ 'toggle-on': switch, 'toggle-off': !switch }">&nbsp;</div>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/index/"><span><img id="logo"
                       src="http://cbfs-ext.hq.couchbase.com/projects/couchbasecloud/cb_logo_200x200-circle-icon.png"/></span>
            <span id="logotype" class="navbar-brand">Couchbase&nbsp;Cloud</span></a>
        </div>
        <div class="collapse navbar-collapse bs-navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="/index/">Welcome</a>
                </li>
                <li ng-show="auth.loggedin">
                    <a href="/dashboard/">Dashboard</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-controller="LoginCtrl">
                <!--<li class="dropdown">-->
                    <!--<a href="/learn/" class="dropdown-toggle" data-toggle="dropdown">Learn More<b class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li>-->
                            <!--<a href="http://www.couchbase.com/couchbase-server/overview" target="_blank">Couchbase Server <span class="glyphicon glyphicon-new-window"></span></a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="https://github.com/couchbase/couchbase-lite-ios" target="_blank">Couchbase Lite IOS <span class="glyphicon glyphicon-new-window"></span></a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="https://github.com/couchbase/couchbase-lite-android" target="_blank">Couchbase Lite Android <span class="glyphicon glyphicon-new-window"></span></a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <li>
                    <a href="/faq/">FAQ</a>
                </li>
                <li class="dropdown" ng-show="loggedin">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img id="gravatar" ng-src="http://www.gravatar.com/avatar/{{auth.gravatar}}?s=20" class="uimg">
                        My Account <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-show="me.admin">
                            <a href="/admin/">Admin</a>
                        </li>
                        <!--<li><a href="/prefs/">Preferences</a></li>-->
                        <li><a ng-click="logout()">Log Out</a></li>
                    </ul>
                </li>
                <li class="ng-cloak" ng-show="auth.checked"><button class="btn btn-sm btn-success" style="margin-top: 10px;" ng-show="!loggedin" data-toggle="modal" href="#signupModal">Sign In&nbsp;&nbsp;<span class="icon-signin" style="font-size: 110%;"></span></button></li>
            </ul>
        </div>
    </div>

</header>

<div id="app" class="container">
    <div ng-view></div>
</div>

<footer>
    <div class="navbar navbar-fixed-bottom navbar-inverse">
        <ul class="nav navbar-nav pull-left">
            <li>
                <a href="https://groups.google.com/forum/#!forum/couchbase-cloud">Couchbase Cloud Google Group</a>
            </li>
            <li>
                <a href="http://www.couchbase.com/communities/couchbase-mobile-community">Couchbase Mobile</a>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li>
                <a href="/terms_of_service/">Terms of Service</a>
            </li>
            <li>
                <a href="/privacy_policy/">Data Privacy Policy</a>
            </li>
            <li>
                <a href="mailto:couchbase-cloud@googlegroups.com">Contact Us</a>
            </li>
        </ul>

    </div>
</footer>

<!-- Modal -->
<div ng-controller="LoginCtrl" class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Sign In to Couchbase Cloud</h4>
            </div>
            <div class="modal-body">
                <p>Couchbase Cloud offers a convenient way to sign in and/or create an account
                using Mozilla Persona. Mozilla Persona only needs a valid e-mail address
                and a password to get your account started. If you already have a Mozilla
                Persona, you can use your existing Persona associated e-mail address
                and password to log in.</p>
                
                <p>By clicking Sign In, you have agreed to our <a href="/terms_of_service/">Terms of Service</a>,
                    and have read our <a href="/privacy_policy/">Data Privacy Policy</a>.
                </p>
                <p style="text-align: center;"><a href="#" ng-click="login()" class="persona-button dark"><span>Sign In</span></a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="/static/lib/ZeroClipboard.min.js"></script>
<script src="/static/lib/moment.min.js"></script>
<script src="/static/lib/lodash.min.js"></script>
<script src="https://login.persona.org/include.js"></script>
<script src="/static/js/auth.js"></script>
<script src="/static/js/alert.js"></script>
<script src="/static/js/consolio.js"></script>
</body>
</html>
