#app {
    margin-top: 48px;
}

#logo {
    height: 50px;
    float: left;
    margin-right: 10px;
}

#logotype {
    font-size: 150%;
    color: white;
    margin-right: 10px;
}

#splash {
    color: white;
    background: black url(http://cbfs-ext.hq.couchbase.com/projects/couchbasecloud/psychadelic_fractal.jpg) no-repeat top center;
}

#gravatar {
    float: left;
    margin-right: 10px;
}

.tos_term {
    font-weight: bold;
    text-decoration: underline;
}

.ng-cloak { display: none !important; }

#sgw-list td {
    vertical-align: middle;
}

.sgw-name {
    font-weight: bold;
    font-size: 125%;
}

.CodeMirror {
    /* Set height, width, borders, and global font properties here */
    font-family: monospace;
    height: auto;
    width: 550px;
    font-size: 12px;
    min-height: 3em;
}

/*Codemirror won't update if hidden by display: none. */
.edithide {
    position: absolute;
    top: -9999px;
}